# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

frontend/node_modules
frontend/dist
backend/node_modules
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Image assets
frontend/public/homepage/chapters/*
frontend/public/homepage/hero/*
frontend/public/homepage/scripts/*
frontend/public/profilepage/*
frontend/public/levelintropage/*
frontend/public/rankingspage/*

# Secrets
backend/.env
frontend/.env
.env